body {
  background-color: #C6C3B5;
  color: #0000FF;
}

nav {
  background-color: #CDB38B;
  float: left;
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

figcaption {
  text-align: center;
  font-family: georgia, serif;
  font-style: italic;
  font-size: 14px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  color: white;
  margin-top: -10px;
}

li {
  float: right;
  padding: 30px;
  color: white;
  margin-top: -75px;

}

a:link {
  */ unvisited link */
  color: blue;
  text-decoration: none;
}

a:visited {
  color: teal;
}

a:hover {
  color: #556b2f;
}

a:active {
  color: #556b2f;
}
h1 {
  color: teal;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: black;
  font-size: 20px;
  text-align: left;
  font-style: italic;
  line-height: normal;
  text-align: center;
}

.author {
  text-align: center;
  color: teal;
}

article {
  padding-top: 100px;
  font-size: 16px;
  color: black;
  line-height: 20px;
  text-align: justify;
}

.container {
  margin: 0 auto;
  width: 50%;
}
